<div class="products-catagories-area clearfix">
  <div class="amado-pro-catagory clearfix">

    <!-- Single Catagory -->
    <% for (var i = 0; i < products.length; i++) { %>
    <% var productName = _.kebabCase(products[i].name) %>
    <div class="single-products-catagory clearfix" onmouseover="showDescription('<%= products[i].name %>')" onmouseout="hideDescription('<%= products[i].name %>')">
      <a href="shop/<%= productName %>">
        <img src="<%= products[i].img %>" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
          <div class="line"></div>
          <p>
            VND <%= products[i].price %>
          </p>
          <h4>
            <%= products[i].name %>
          </h4>
          <div class="hidden-description" id="<%= products[i].name %>">
            <p>
              <%= products[i].description %>
            </p>
            <button type="button" class="btn btn-outline-info">Add to cart</button>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>